* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgba(206, 182, 182, 0.637);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  width: 650px;
  display: flex;
  justify-content: space-evenly;
}
.active_img {
  width: 400px;
  height: 500px;
  transition: 0.4s;
  background-size: cover;
}
.img_container {
  width: 200px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carousel_image {
  position: relative;
  width: 200px;
  height: 90px;
  right: 0;
  transition: 0.5s;
  overflow: hidden;
}

.carousel_image img {
  position: absolute;
  width: 200px;
  /* move */
  transform: translate(0, -50px);
  transition: 0.5s;
  right: 0;
}

.carousel_image .active {
  opacity: 0;
  right: 250px;
}
.carousel_image:hover img {
  opacity: 0;
  right: 250px;
}
